
body{
    background-color: #fff7f2;
}

/* トップ */
.header {
    align-self: stretch;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100vw;
    background-color: #e4f7ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 40px 16px;
    box-sizing: border-box;
    text-align: left;
    font-size: 40px;
    color: #8c243f;
    z-index: 5;
}

.font2 {
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header {
        font-size: 30px;
    }

    .font2 {
        font-size: 20px;
    }
}

/* さらに小さな画面幅、例えば500px以下の場合、もっと小さくする */
@media (max-width: 425px) {
    .header {
        font-size: 22px;
        padding: 20px 20px 12px;
    }

    .font2 {
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    .header {
        font-size: 18px;
        padding: 20px 20px 12px;
    }

    .font2 {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .header {
        font-size: 16px;
        padding: 20px 12px 12px;
    }
}.christmas-font {
    position: relative;
    font-family: 'Kaisei Tokumin';
    cursor: pointer;
}

.header-overlay {
    width: 100%;
    align-self: stretch;
    height: 80px;
    align-items: center;
}


/* 参加団体 */

.participation-container {
    align-self: stretch;
    background-color: #fff7f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px 24px 64px;
    gap: 24px;
}

.h1 {
    align-self: stretch;
    line-height: 76.8px;
}

/* カード */
.h4 {
    align-self: stretch;
    position: relative;
    line-height: 24.64px;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 24.6px;
    font-size: 17.6px;
    color: #8c243f;
}

.h5 {
    align-self: stretch;
    position: relative;
    font-size: 13.6px;
    line-height: 24.48px;
    display: flex;
    align-items: center;
    align-self: auto;
    flex-shrink: 0;
    color: #8c243f;
}

.text-box-card {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 16px;
    gap: 8px;
    z-index: 2;
}

.moleclues-card {
    width: 338px;
    border-radius: 10px;
    border: 2px solid #8c243f;
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: background-color 0.5s ease;
    overflow: hidden;
}

.moleclues-card-child {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 222.7px;
    flex-shrink: 0;
    object-fit: cover;
    overflow: hidden;
}